<<<<<<< HEAD
* {
  box-sizing: border-box;
}
body {
  background-color: darkslategrey;
  font-family: sans-serif;
}
.game {
  text-align: center;
  background: url(img/background.png) center/cover;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

/* Header */
.game__header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.game__btn {
  width: 60px;
  height: 60px;
  font-size: 40px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: wheat;
  transition: transform 300ms ease-in;
  cursor: pointer;
}

.game__btn:hover {
=======
body {
  text-align: center;
  background-color: black;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: white;
  border-radius: 20%;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  background: url(img/background.png) center/cover no-repeat;
}

header {
  text-align: center;
  padding: 8px;
}

.game__button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: wheat;
  border: 4px solid black;
  transition: transfrom 300ms ease-in;
}

.game__button:hover {
>>>>>>> HTML, CSS
  transform: scale(1.1);
}

.game__timer {
<<<<<<< HEAD
  border: 2px black solid;
  background-color: white;
  width: 100px;
  height: 40px;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 20px;
  line-height: 30pt;
  display: block;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  border: 2px black solid;
  background-color: pink;
  display: block;
  font-size: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  line-height: 35pt;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

/* Field */
.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

/* pop-up */
.pop-up {
  display: block;
  text-align: center;
  background-color: #00000090;
  border-radius: 20px;
  width: 320px;
  height: 120px;
  padding: 10px;
  margin: auto;
  transform: translateY(-170%);
=======
  display: block;
  width: 100px;
  margin: auto;
  margin-top: 8px;
  padding: 0 20px;
  background-color: white;
  border-radius: 10px;
  font-size: 32px;
  border: 5px solid black;
}

.game__score {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 46px;
  margin-top: 4px;
  background-color: darksalmon;
  color: white;
  border-radius: 50%;
  border: 3px solid black;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.pop-up {
  border-radius: 20px;
  width: 400px;
  height: 124px;
  margin: auto;
  background-color: #00000090;
  color: white;
  transform: translateY(-150%);
>>>>>>> HTML, CSS
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
<<<<<<< HEAD
  font-size: 30px;
  margin-bottom: 10px;
  background-color: #f5deb1;
  transition: all 300ms ease-in;
  border-radius: 50%;
  border: 1px black;
}

.pop-up__refresh:hover {
  color: red;
=======
  font-size: 24px;
  background-color: wheat;
  border: 2px solid black;
  transition: transfrom 300ms ease-in;
}

.pop-up__refresh:hover {
>>>>>>> HTML, CSS
  transform: scale(1.1);
}

.pop-up__message {
<<<<<<< HEAD
  font-size: 25px;
  color: white;
  display: block;
}
.carrot,
.bug {
  transition: transform 100ms ease-in;
}
=======
  display: block;
  font-size: 38px;
}

.hide {
  display: none;
}

>>>>>>> HTML, CSS
.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
